
@{
    ViewBag.Title = "HasakiTichDiem";
    Layout = "~/Views/Shared/_LayoutTaiKhoan.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="~/Content/CSS/User/csstichdiem.css" rel="stylesheet" />

<div class="container-tichdiem">
    <div class="points-header">
        <div class="icon"><i class="fas fa-coins"></i></div>
        <div class="text">Điểm khả dụng <span class="points">0</span></div>
    </div>
    <div class="options-tichdiem">
        <div class="option-tichdiem">
            <div class="icon"><i class="fas fa-user-edit"></i></div>
            <div class="text">Lịch sử tích điểm</div>
        </div>
        <div class="option-tichdiem">
            <div class="icon"><i class="fas fa-gift"></i></div>
            <div class="text">Đổi quà</div>
        </div>
        <div class="option-tichdiem">
            <div class="icon"><i class="fas fa-receipt"></i></div>
            <div class="text">Quản lý đổi quà</div>
        </div>
    </div>
</div>