
@{
    ViewBag.Title = "HeThongCuaHang";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
    <link href="~/Content/CSS/User/csshethongcuahang.css" rel="stylesheet" />
}

<div class="container">
    <div class="store-locator">
        <div class="store-list">
            <div class="store-list-header">
                65 228 cửa hàng Hasaki trên toàn quốc
            </div>
            <div class="store-item">
                <h3>CN 1: 71 Hoàng Hoa Thám, P.13, Q.Tân Bình, TP.HCM</h3>
                <p>
                    <span class="store-type clinic">CỬA HÀNG</span>
                    <span class="store-type spa">SPA</span>
                </p>
                <p>Giờ mở cửa: 08:00 - 22:00</p>
            </div>
            <div class="store-item">
                <h3>CN 2: 555 Đường 3 Tháng 2, P.8, Q.10, TP.HCM</h3>
                <p>
                    <span class="store-type clinic">CỬA HÀNG</span>
                    <span class="store-type spa">SPA</span>
                </p>
                <p>Giờ mở cửa: 08:00 - 22:00</p>
            </div>
            <div class="store-item">
                <h3>CN 3: 176 Phan Đăng Lưu, P.3, Phú Nhuận, TP.HCM</h3>
                <p>
                    <span class="store-type clinic">CỬA HÀNG</span>
                    <span class="store-type spa">SPA</span>
                </p>
                <p>Giờ mở cửa: 08:00 - 22:00</p>
            </div>
        </div>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d125410.15321906711!2d106.6455061114905!3d10.806158467934452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shasaki%20beauty!5e0!3m2!1svi!2s!4v1732407148818!5m2!1svi!2s" width="790" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</div>

