
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<div class="info-section">
    <div class="info-item">
        <i class="fas fa-user-edit">
        </i>
        <p>
            Tài khoản
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-shopping-bag">
        </i>
        <p>
            Đặt hàng
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-box">
        </i>
        <p>
            Quy cách đóng gói
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-truck">
        </i>
        <p>
            Vận chuyển 2H
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-money-bill-wave">
        </i>
        <p>
            Phí vận chuyển
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-sync-alt">
        </i>
        <p>
            Đổi trả, hoàn tiền
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-spa">
        </i>
        <p>
            Dịch vụ SPA
        </p>
    </div>
    <div class="info-item">
        <i class="fas fa-newspaper">
        </i>
        <p>
            Tuyển dụng
        </p>
    </div>
</div>

<div class="container-support">
    <div class="section-support">
        <h2>Câu hỏi thường gặp</h2>
        <ul class="columns-ques">
            <li>Đăng ký thành viên Hasaki như thế nào?</li>
            <li>Tại sao tôi không thể đăng nhập vào tài khoản của tôi?</li>
            <li>Tôi có thể sử dụng chung tài khoản với người khác không?</li>
            <li>Có cần đặt lịch trước khi đến spa hay không?</li>
            <li>Đặt dịch vụ như thế nào?</li>
            <li>Khám da tại spa Hasaki có tốn phí hay không?</li>
        </ul>
    </div>
    <div class="section-support">
        <h2>Thông tin hỗ trợ</h2>
        <ul class="columns-info">
            <li>Giới thiệu Hasaki</li>
            <li>Hướng dẫn đặt hàng 2H</li>
            <li>Chính sách vận chuyển giao nhận</li>
            <li>Khách hàng thân thiết</li>
            <li>Hướng dẫn thanh toán trực tuyến</li>
            <li>Điều khoản sử dụng</li>
            <li>Hướng dẫn đổi quà</li>
            <li>Thẻ quà tặng Got It</li>
            <li>Chính sách bảo mật</li>
            <li>Hướng dẫn đặt hàng</li>
            <li>Phiếu mua hàng</li>
            <li>Hướng dẫn tải & sử dụng App Hasaki</li>
        </ul>
    </div>
</div>