
@{
    ViewBag.Title = "TDDHang";
    Layout = "~/Views/Shared/_LayoutTaiKhoan.cshtml";
}
<link href="~/Content/CSS/User/csstddhang.css" rel="stylesheet" />
<div class="container-donhang">
    <div class="tabs">
        <div class="tab active">Mua online</div>
    </div>
    <div class="buttons-donhang">
        <div class="button active">Tất cả</div>
        <div class="button">Mới đặt</div>
        <div class="button">Đang xử lý</div>
        <div class="button">Thành công</div>
        <div class="button">Đã hủy</div>
        <div class="filter-donhang">
            <span>Hiển thị</span>
            <div class="dropdown">Tất cả <i class="fas fa-caret-down"></i></div>
        </div>
    </div>
    <div class="order-info">
        <div class="order-id">
            Mã đơn hàng: 24111455996
        </div>
        <div class="order-date">
            Đặt ngày: 14/11/2024
        </div>
        <div class="order-status">
            Đã hủy
        </div>
        <div class="order-payment">
            Thanh toán: Thanh toán khi nhận hàng
        </div>
        <div class="order-total">
            Tổng tiền: 209,000
        </div>
        <div class="order-details">
            Xem chi tiết
        </div>
    </div>
    <div class="order-item">
        <img alt="Product image of KLAIRS Nước Hoa Hồng Klairs Không Mùi Cho Da Nhạy Cảm 180ml" height="100" src="https://storage.googleapis.com/a1aa/image/wa9F0zz0yF7MAt2wtqnqmJwmm3pwE4FcDECAXLynPO8m9o8E.jpg" width="100" />
        <div class="item-info">
            <div class="item-name">
                KLAIRS
            </div>
            <div class="item-description">
                Nước Hoa Hồng Klairs Không Mùi Cho Da Nhạy Cảm 180ml
            </div>
            <div class="item-price">
                1 x 209,000đ
            </div>
        </div>

    </div>
    <div>
        <div class="message-donhang">Bạn chưa có đơn đặt hàng nào</div>
        <button class="continue-button-donhang">Tiếp tục mua sắm</button>
    </div>
</div>

