@{
    ViewBag.Title = "Create Brand";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/CSS/Admin/cssCRUD.css" rel="stylesheet" />
}

<h2>Create Brand</h2>

@using (Html.BeginForm("CreateBrand", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="brandName">Brand Name</label>
        <input type="text" id="brandName" name="brandName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="image">Brand Image</label>
        <input type="file" id="image" name="image" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select name="Status" id="Status" class="form-control">
            <option value="Online">Online</option>
            <option value="Offline">Offline</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Brand</button>
}
<div class="back-button">
    <a href="@Url.Action("Brands", "Admin")" class="btn btn-secondary">Back to Brands</a>
</div>